body {
  font-size: 1rem;
}

#search {
  flex-wrap: wrap;
}

#userform {
  display: none;
}

#categorieform {
  display: none;
}

#Supcategorieform {
  display: none;
}

#productform {
  display: none;
}

